.header-card-bg {
    background-color: #27293d !important;
}

.header-div-icon {
    font-size: 50px;
}

.header-div-icon-alternative {
    font-size: 50px;
    margin-top: -8%;
    padding-bottom: 12%;
}

.header-icon {
    margin-bottom: 20%;
}

.header-title {
    font-size: 17px !important;
}

.padding-slim {
    padding: 10px 10px 0px 10px !important;
}

.font-bigger {
    font-size: 1.3rem !important
}

.font-bigger-alternative {
    font-size: 2.6rem !important;
    font-weight: 400 !important;
}