.modal-content {
    background: #1e1e29 !important;
    border: 1px solid #2086f8 !important;
    border-radius: 3px !important;
    min-height: 200px !important;
}

.modal-footer {
    justify-content: flex-end !important
}

.btn-footer {
    margin: 10px !important
}

.show-custom {
    background-image: linear-gradient(to top, rgb(30 137 248 / 12%), #1f1f28b8) !important;
}