.sidebar-background-overwrite {
   background: linear-gradient(0deg, #1f1f26 0%, #1e1e2d 100%) !important;
}

.text-center {
    text-align: center;
}

.icon-size {
    font-size: 25px !important;
}

.font-size {
    font-size: 15px;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
